@import url('https://fonts.googleapis.com/css2?family=Arapey&display=swap');

body {
    background-color: black;
    color: white;
    font-family: 'Arapey', serif;
    font-size: 20pt;
}

a {
    color: white; 
    text-decoration: none;
}

.navigation ul {
    display: inline;
    list-style-type: none;
    float: right;
}

.navigation li {
    float: left;
    margin-right: 20px;
}

.navigation img {
}

.main-content {
    text-align: center;
}

.primary-text {
    font-size: 100pt;
    margin-top: 25vh;
    margin-bottom: 0;
}

.secondary-text {
    margin-top: 0;
    font-size: 25pt;
}

.social-media {
    display: flex;
    justify-content: center;
}

.social-media i {
    margin: 15px;
    font-style: normal;
    font-size: 35px;
}

.footer {
    position: fixed;
    width: 100%;
    bottom: 5vh;
}
