main {
    padding: 25px !important;
    margin-top: 30px;
    max-width: 800px;
}

summary {
    line-height: 5px !important;
}

h2 {
    text-align: center;
}

h1, h2, h3, h4, h5 {
    margin-bottom: 10px;
}

h2 + h3, h3 + h4 {
    margin-top: 5px;
}

menu {
    padding: 0;
    text-align: center;
}

menu ul > li {
    display: inline-block;
    list-style-type: none;
    margin: 7.5px;
}
